force-app/main/default/flows/Line_Total_Flow_To_Create_Roll_up_in_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Line_Total</name>
        <label>Line Total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Line_Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calc_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Same_Order_Line</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Calc_Line_Item</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Quantity__c}*{!Fetch_Price_from_productItem.Price__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Line Total Flow To Create Roll up in Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Line Total Flow To Create Roll up in Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Price is not the related field of Order Line ,So to Read the Price field Fetch the Price from ProductItem</description>
        <name>Fetch_Price_from_productItem</name>
        <label>Fetch Price from productItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Line_Total</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Same_Order_Line</name>
        <label>Update  Same Order Line</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Line_Total__c</field>
            <value>
                <elementReference>Calc_Line_Item</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Price_from_productItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Product_Item__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>null</stringValue>
            </value>
        </filters>
        <object>Order_Line__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
